# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Binaries
*.exe

# The build output folders
build
bin

# swap files and my YouCompleteMe config file
*.swp
.ycm_extra_conf.py*

# Ignore the in use makefile, only commit the ones in the makefiles/ folder
./Makefile
